/* .astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-align: left;
    display: inline-block;
    font-weight: 400;
} */


.sentence-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
 }

 .link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }